.container {
  .upperpart {
    padding: 3rem 10%;
    background-color: #ebebeb;
  }
  .lowerpart {
    padding: 3rem 10%;
    background-color: white;

    .middlepart {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;

      .carousel {
        flex-grow: 1;
      }
      

    }
  }
}
