.container {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;

  h1 {
    margin: 0;
  }
  span {
    margin-bottom: 2rem;
    color: rgba($color: #000000, $alpha: 0.5);
  }
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 45%;
    .btn {
      font-weight: 700;
      width: 150px;
      height: 45px;
    }
  }
}
